In [8]:
import pandas as pd
sales_df=pd.read_csv("Sales.csv")

print(sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     8 non-null      object
 3   Product        8 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 580.0+ bytes
None

In [9]:
clean_df = sales_df.fillna(sales_df.mean(numeric_only=True))
clean_sales = clean_df.dropna()
print(clean_sales.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       7 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     7 non-null      object
 3   Product        7 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 448.0+ bytes
None

In [10]:
# Formatting the "Order Date" column
clean_sales["Order Date"]=pd.to_datetime(clean_sales["Order Date"], format= "mixed")
print(clean_sales)

   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe 2024-01-01  Widget A      10.0   25.000000
1      1002     Jane Smith 2024-01-02  Widget B       5.0   40.000000
3      1004  Alice Johnson 2024-04-01  Widget C       3.0   35.714286
4      1005      Bob Brown 2024-01-05  Widget B      10.0   40.000000
5      1006       John Doe 2024-06-01  Widget A       4.0   25.000000
6      1001       John Doe 2024-01-01  Widget A      10.0   25.000000
7      1007     Jane Smith 2024-07-01  Widget C      -6.0   70.000000

   Total Revenue
0          250.0
1          200.0
3          210.0
4          400.0
5          100.0
6          250.0
7         -420.0

C:\Users\user\AppData\Local\Temp\ipykernel_20716\314067174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_sales["Order Date"]=pd.to_datetime(clean_sales["Order Date"], format= "mixed")

In [11]:
print(clean_sales.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       7 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     7 non-null      datetime64[ns]
 3   Product        7 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 448.0+ bytes
None

In [14]:
# Iterate through the index and check the "Quantity" column
clean_sales["Quantity"] = clean_sales["Quantity"].abs()
clean_sales["Total Revenue"] = clean_sales["Total Revenue"].abs()

        
print(clean_sales.info())
print(clean_sales.head(9))

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       7 non-null      int64
 1   Customer Name  7 non-null      object
 2   Order Date     7 non-null      datetime64[ns]
 3   Product        7 non-null      object
 4   Quantity       7 non-null      float64
 5   Unit Price     7 non-null      float64
 6   Total Revenue  7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 448.0+ bytes
None
   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe 2024-01-01  Widget A      10.0   25.000000
1      1002     Jane Smith 2024-01-02  Widget B       5.0   40.000000
3      1004  Alice Johnson 2024-04-01  Widget C       3.0   35.714286
4      1005      Bob Brown 2024-01-05  Widget B      10.0   40.000000
5      1006       John Doe 2024-06-01  Widget A       4.0   25.000000
6      1001       John Doe 2024-01-01  Widget A      10.0   25.000000
7      1007     Jane Smith 2024-07-01  Widget C       6.0   70.000000

   Total Revenue
0          250.0
1          200.0
3          210.0
4          400.0
5          100.0
6          250.0
7          420.0

C:\Users\user\AppData\Local\Temp\ipykernel_20716\2039336472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_sales["Quantity"] = clean_sales["Quantity"].abs()
C:\Users\user\AppData\Local\Temp\ipykernel_20716\2039336472.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_sales["Total Revenue"] = clean_sales["Total Revenue"].abs()

In [16]:
#cChecking for duplicates
print(clean_sales.duplicated())

0    False
1    False
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [17]:
clean_sales=clean_sales.drop_duplicates() #Removed duplicate rows
print(clean_sales.info())   
print(clean_sales.head(9))

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 7
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       6 non-null      int64
 1   Customer Name  6 non-null      object
 2   Order Date     6 non-null      datetime64[ns]
 3   Product        6 non-null      object
 4   Quantity       6 non-null      float64
 5   Unit Price     6 non-null      float64
 6   Total Revenue  6 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 384.0+ bytes
None
   Order ID  Customer Name Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe 2024-01-01  Widget A      10.0   25.000000
1      1002     Jane Smith 2024-01-02  Widget B       5.0   40.000000
3      1004  Alice Johnson 2024-04-01  Widget C       3.0   35.714286
4      1005      Bob Brown 2024-01-05  Widget B      10.0   40.000000
5      1006       John Doe 2024-06-01  Widget A       4.0   25.000000
7      1007     Jane Smith 2024-07-01  Widget C       6.0   70.000000

   Total Revenue
0          250.0
1          200.0
3          210.0
4          400.0
5          100.0
7          420.0